# Dependencies
node_modules
.pnp
.pnp.js
.bmad-core
.cursor
cookies.txt
suggestion.txt

# Testing
coverage

# Production
build
out
.next
dist

# Misc
.DS_Store
*.pem
.env
.env.local
.env.*.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE
.idea
.vscode
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
docs

# OS
Thumbs.db

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Vercel
.vercel

# Sentry
.sentryclirc

# Sentry Config File
.env.sentry-build-plugin
